html{
	font-family: 'Gudea', sans-serif;
	color: white;
	background-image: url("images/double-bubble-dark.png");
	background-attachment: fixed;
}
.content{
	margin-left: 10px
}
#title{
	background-image: url("images/gradient_fade.png");
	color: white;
}
h3{
	font-family: 'Chakra Petch', sans-serif;
}
.click_box:hover{
	cursor: pointer;
}
.questionB{
	color: #5998bd;
}
.questionA{
	color: #70afd4;
}
.textbox{
	border-radius: 5px;
	border: 2px solid lightgrey;
}
.reorder{
	width: 85px;
}
.reorder:hover{
	cursor: pointer;
}
.button_small{
	transition-duration: 0.2s;
	background-color: #5998bd;
	color: white;
	height: 35px;
	width: 75px;
	border: 2px solid #5998bd;
	border-radius: 20px;
}
.button_small:hover{
  background-color: black;
  border: 2px solid #5998bd;
  color: #5998bd;
  cursor: pointer;
  border-radius: 20px;
}
.button_submita{
	transition-duration: 0.2s;
	background-color: #5998bd;
	color: white;
	height: 35px;
	width: 125px;
	border: 2px solid #5998bd;
	border-radius: 20px;
}
.button_submita:hover{
  background-color: black;
  border: 2px solid #5998bd;
  color: #5998bd;
  cursor: pointer;
  border-radius: 20px;
}
.button_redm{
	transition-duration: 0.2s;
	background-color: black;
	color: white;
	height: 30px;
	width: 45px;
	border: 2px solid #5998bd;
	border-radius: 0px;
}
.button_redm:hover{
  cursor: pointer;
}
.button_yellowm{
	transition-duration: 0.2s;
	background-color: black;
	color: white;
	height: 30px;
	width: 55px;
	border: 2px solid #5998bd;
	border-radius: 0px;
}
.button_yellowm:hover{
  cursor: pointer;
}
.button_bluem{
	transition-duration: 0.2s;
	background-color: black;
	color: white;
	height: 30px;
	width: 48px;
	border: 2px solid #5998bd;
	border-radius: 0px;
}
.button_bluem:hover{
  cursor: pointer;
}
.button_greenm{
	transition-duration: 0.2s;
	background-color: black;
	color: white;
	height: 30px;
	width: 53px;
	border: 2px solid #5998bd;
	border-radius: 0px;
}
.button_greenm:hover{
  cursor: pointer;
}
::-webkit-scrollbar {
	border-radius: 0px;
	width: 10px;
}
::-webkit-scrollbar-track {
	background-image: url("images/double-bubble-dark.png");
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background: #5998bd;
}
::-webkit-scrollbar-thumb:hover {
	background: #70afd4;
}